body{
    background: url("images/bats.gif");
}
h1{
    padding-left: 10px;
}
h2{
    padding-left: 10px;
}
h3{
    padding-left: 10px;
}
p{
    padding-left: 10px;
}
h1::first-letter{
   font-size: 200%;
  color: black;
}
.i_btn {
    width: 120px;
    border: 2px solid;
    background-color: darkorange;
    display: list-item;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.r_btn {
    width: 120px;
    border: 2px solid;
    background-color: darkorange;
    display: list-item;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.s_btn {
    width: 120px;
    border: 2px solid;
    background-color: darkorange;
    display: list-item;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.t_btn {
    width: 120px;
    border: 2px solid;
    background-color: darkorange;
    display: list-item;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.box_one{
    display: flex;
    border: 2px solid black;
    background-image: linear-gradient(45deg, #CC9933, #CC6633, #330000);
) ;
}
.img-col{
    padding-top: 20px;
    padding-left: 10px;
}
.text-col{
    font-size: 21px;
    padding-left: 30px;
}
.text-col h2{
   text-shadow: 2px 2px black;
    color: darkorange; 
}
.box{
    border: 2px solid black;
    width: 800px;
    height:780px;
    
}
.body{
    background-image: url("bats.gif");
    background-repeat: repeat;
}
.box_three{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background-image: linear-gradient(-45deg, #CC9933, #CC6633, #330000);
}
.box_two{
    display: flex;
    background: white;
}
.box_four{
    height: 600px;
    padding-right: 30px;
}
.box_four a{
    color: darkorange;
}
.container{
    width: 900px;
    border: 10px solid;
    margin: auto;
    box-shadow: 6px 6px 7px;
}
.sidebar{
    padding-top: 40px;
    width:250px;
}

<!---------secondpage________>
.box_two{
    width:430px;
     border: 2px solid black;
     margin: 0px;
     padding-left: 30px;
     background-color: white;
     display: flex;
}
.box_two_one{
    width: 300px;
}
.box_two_two{
    padding-top: 60px;
    padding-right: 20px;
}
.box_five{
    width: 220px;
   background-color: red;
    border: 2px solid black;
    margin: 0px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
}